body {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  font-family: "PT Sans" "Narrow" sans-serif;
  color: #333333;

}

h1 {
  font-size: 30px;
  line-height: 24px;
  font-weight: bold;
  font-family: "PT Sans" "Narrow" sans-serif;
  color: #000000;
}

h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  font-family: "PT Sans" "Narrow" sans-serif;
  color: #000000;
}

.container {
  width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

.main-header{
  min-height: 55px;
  outline: 1px solid black;
}
